@charset "UTF-8";

body {
    padding: 80px 0 0 0;
    background: rgba(240, 231, 231, 0.856);
}

body, input, button {
    font-family: "Roboto", "sans-serif";
}

.nofill {
    fill: none;
    /* background-color: #ffffff; */
}

header {
    width:100%; /*Takes place of entire browser windox size*/
    height:60px;
    padding: 5px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    position: fixed; /*Remains on the top part of the screen*/
    z-index: 5;
    top: 0;
    left: 0;
    background:#25b99a;
    box-shadow:0px 2px 4px rgba(44, 62, 80, 0.15);
}

header input {
    width: 100%;
    height: 50px;
    padding: 0px 0px 0px 0px;
    border: 0px;

    float: right;
    color: #fff;
    font-size: 15px;
    font-weight: normal;
    text-indent: 20px; 
    background: rgba(255, 255, 255, 0.2);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px; 
    box-shadow: none;
    outline: none;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ns-appearance: none;
    -o-appearance: none;
}

header button {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 2;
    border-radius: 25px;
    background: #fff;
    border: 0px;
    box-shadow: none;
    cursor: pointer;
    outline: none;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ns-appearance: none;
    -o-appearance: none;
}

header button svg {
    width: 16px;
    height: 16px;
    position: absolute;
    /* top: 50%;
    left: 50%; */
    margin: -8px 0 0 -8px;
}

header button svg .fill {
    fill: #25b99a;
}

.container {
    width: 100%;
    padding: 15px;
    float: left;
}

ul.todo {
    width: 100%;
    /* padding: 0px; */

    float: left;
    list-style-type: none;
}

ul.todo li{
    width: 100%;
    min-height: 50px;

    margin: 0 0 10px 0;
    padding: 14px 100px 14px 14px;
    border-radius: 5px;
    text-align: left;
    line-height: 22px;
    font-size: 14px;
    font-weight: 500;/*Sets the boldness of the font if font has different variations*/
    word-break: break-word;
    color: #444;
    float: left;
    background: #fff;
    position: relative;
    box-shadow:0px 2px 4px rgba(44, 62, 80, 0.15);
}

/*Sets the bottom margin to 0 for the last item*/
ul.todo li:last-of-type {
    margin: 0px;
}

ul.todo li .buttons{
    width: 100px;
    height: 50px;

    position: absolute;
    top: 0;
    right: 0;
}

/*HERE add style for buttons inside list*/
ul.todo li .buttons button{
    width: 50px;
    height: 50px;
    border: 0px;

    float: left;
    background: none;
    box-shadow: none;
    outline: none;
    position: relative;
    cursor: pointer;

    -webkit-appearance: none;
    -moz-appearance: none;
    /* -ns-appearance: none; */
    -o-appearance: none;
}

ul.todo li .buttons button:last-of-type:before {
    content: '';
    width: 1px;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 0;
    background: #edf0f1;

}
ul.todo li .buttons button svg{
    width: 22px;
    height: 22px;
    margin: -11px 0 0 -11px;

    position: absolute;
    top: 50%;
    left: 50%;

}

ul.todo li .buttons button.eraseItem svg .fill{
    fill: #c0cecb;  
}

ul.todo li .buttons button.eraseItem:hover svg .fill{
    fill: #f01a1ad0;  
}
/*Add header input style here */
header input::-webkit-input-placeholder {
    color:rgba(255, 255, 255, 0.75);
}
header input::-moz-input-placeholder {
    color:rgba(255, 255, 255, 0.75);
}
header input::-ns-input-placeholder {
    color:rgba(255, 255, 255, 0.75);
}
header input::-o-input-placeholder {
    color:rgba(255, 255, 255, 0.75);
}